# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
android/
ios/

# EAS
.eas/

# Environment
.env
.env.local

# Test output
coverage/
jest-results.json

# Misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
